<mat-card class="entry-card">
    <h1 class="entry-title"> {{login ? 'Login' : 'Register' }}</h1>
    <div [formGroup]="form" class="entry-input-box">
        <mat-form-field appearance="outline">
            <mat-label>username</mat-label>
            <input type="text" matInput formControlName="username" />
            <mat-error> English letters or numbers only</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>password</mat-label>
            <input type="password" matInput formControlName="password" />
            <mat-error> Field is required </mat-error>
        </mat-form-field>
        <button (click)="submit()" mat-raised-button color="primary" class="entry-submit-button">
            Submit
        </button>
        <div>
            <span> {{login ? 'Not registered already?' : 'Already registered?'}} </span>
            <a (click)="toggle()" class="toogle-button">{{login ? 'Register' : 'Login'}}</a>
        </div>
    </div>
</mat-card>