<mat-card>
  <img class="post-image" [src]="post.image">
  <div class="post-porfile-image">
    {{ post.user.username | prefixUsername }}
  </div>

  <div class="post-card-container">
    <div class="post-name">{{post.name}}</div>
    <div class="post-description">{{post.description}}</div>
  </div>

  <div class="post-button-container">
    <div class="post-like-box">
      <button mat-icon-button (click)="likeToggle()">
        <mat-icon class="like-icon" [class.like]="likeCheck()">favorite</mat-icon>
      </button>
      <span class="post-like-count"> {{post.likes.length}} </span>
    </div>
    <div *ngIf="isMyPost()" class="post-button-container">
      <button mat-mini-fab color="primary" class="mr-2" (click)="editPost()">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-mini-fab color="warn" (click)="deletePost()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>




  </div>



</mat-card>